
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Compra e venda automática para o Fifa Ultimate Team 2014">
    <meta name="author" content="Luiz Fernando Souza e Bruno Conrado">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico" th:href="@{assets/ico/favicon.ico}">

    <title>FUT - Compra Automática</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
    <link href="../../../../assets/css/style.css" th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link href="../../../../assets/css/style_login.css" th:href="@{/assets/css/style_login.css}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../../../assets/js/ie8-responsive-file-warning.js" th:href="@{/assets/js/ie8-responsive-file-warning.js}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- logotipo -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-signin-heading">
            <img src="../../../../assets/images/logo_login_5.png" th:src="@{/assets/images/logo_login_5.png}" class="img-responsive" alt="Logo">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="login">Se você já é cadastrado faça o login, senão <a href="#">CADASTRE-SE AQUI</a>.</h1>
        </div>
      </div>
      
      <!-- login -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form class="form-signin" role="form" th:action="@{/authentication}" th:object="${credentials}" method="POST">
            
             <!-- Mensagens genéricas para diferentes tipos de erros (backend) -->
             <div  th:class="${#fields.hasErrors('global')}? 'alert alert-generico alert-danger' : 'alert alert-generico alert-danger hidden' ">
             	 <!-- start errors -->
                 <ul th:if="${#fields.hasErrors('global')}">
                     <li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
                 </ul>
             </div>    
            
            <input type="email" class="form-control" placeholder="Email" required autofocus th:value="*{login}" th:field="*{login}">
            <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" th:class="${#fields.hasErrors('login')}? 'alert alert-danger relative' : 'alert alert-danger hidden relative' ">
              	<span th:each="err : ${#fields.errors('login')}" th:text="${err}"></span>
            </div>
            <input type="password" class="form-control" placeholder="Password" required th:value="*{password}" th:field="*{password}">
             <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="${#fields.hasErrors('password')}? 'alert alert-danger relative' : 'alert alert-danger hidden relative' ">
              	<span th:each="err : ${#fields.errors('login')}" th:text="${err}"></span>
            </div>
            <input type="text" class="form-control" placeholder="Resposta da pergunta secreta" required th:value="*{secretAnswer}" th:field="*{secretAnswer}">
             <div th:if="${#fields.hasErrors('secretAnswer')}" th:errors="*{secretAnswer}" th:class="${#fields.hasErrors('secretAnswer')}? 'alert alert-danger relative' : 'alert alert-danger hidden relative' ">
              	<span th:each="err : ${#fields.errors('secretAnswer')}" th:text="${err}"></span>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
          </form>
        </div>
      </div>

    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <p class="text-muted">© 2014 FIFA 14 Ultimate Team Trading Center - O Trading Center mais confiável de FIFA 14. Esse site não é afiliado com a EA Sports.</p>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <ul id="social">
              <li>
                <a target="_blank" href="#" title="Entre em contato com a Equipe FUT 2014 - Compra Automática"><i class="icon-envelope-alt"></i></a>
              </li>
              <li>
                <a target="_blank" href="#" title="Curta FUT 2014 - Compra Automática no Facebook"><i class="icon-facebook"></i></a>
              </li>
              <li>
                <a target="_blank" href="#" title="Add aos Favoritos"><i class="icon-star"></i> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
